.main {
  //display: grid;
  //grid-template-columns: 1fr auto;
  //grid-template-rows: 1fr;

  .input {

    background-color: transparent;
    color: #FFFFFF;
    padding: 20px;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    font-family: 'Merriweather', sans-serif;
    font-size: 14px;
  }

  .button {
    padding: 2em;
  }
}